/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

table.stratego-board {
  border: 0;
  /* border: 1px solid black; */
  border-collapse: collapse;
  width: 600px;
  height: 600px;
  table-layout: fixed;
  padding: 0;
  border-spacing: 0;
}

tr.stratego-board {
  border: 0;
  /* border: 1px solid black; */
  padding: 0;
  border-bottom: 0;
  height: 60px;
  vertical-align: baseline;
  /* vertical-align: center; */
  padding: 0;
  border-spacing: 0;
}

td.stratego-board {
  border: 0;
  /* border: 1px solid black; */
  text-align: center;
  height: 60px;
  width: 60px;
  vertical-align: baseline;
  /* vertical-align: center; */
  border-bottom: 0;
  padding: 0;
  border-spacing: 0;
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 0;
}

svg.stratego-board {
  width: 60px;
  height: 60px;
  display: block;
}

/*
  border-bottom: 0px;
  background: #eee;
  border-radius: 0px;
  border-image-width: 0px;
  border: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  box-sizing: content-box;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 0px;
  table-layout: fixed;
  white-space: nowrap;
  font-weight: 200;
  font-size: 120%;
}
*/
.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
