<section>
  <!-- Side navigation -->
  <div class="sidenav">
    <p>Start new match</p>

    <div class="liveview-select2"
         phx-hook="SelectModules"
         phx-update="ignore"
    >
    <%= for module_number <- 1..2 do %>
      <select id="<%= "module_#{module_number}" %>">
        <%= for {module, name} <- @modules do %>
          <option value="<%= module %>">
            <%= name %>
          </option>
        <% end %>
      </select>
      <br/>
    <% end %>
    <button>Go!</button>
    </div>

    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>

  <!-- Page content -->
  <div class="main">
  <h1>Stratego</h1>
  <hr/>
  <p>
    <%= if @game_pid do %>
      P1 (<font color="red">Red</font>): <%= @player_1_name %>, P2 (<font color="blue">Blue</font>): <%= @player_2_name %>,
      <a phx-click="playback-control" phx-value-action="start">&lt;&lt;</a>&nbsp;
      <a phx-click="playback-control" phx-value-action="back">&lt;</a>&nbsp;
      <a phx-click="playback-control" phx-value-action="pause">pause</a>&nbsp;
      <a phx-click="playback-control" phx-value-action="play">play</a>&nbsp;
      <a phx-click="playback-control" phx-value-action="forward">&gt;</a>&nbsp;
      <a phx-click="playback-control" phx-value-action="end">&gt;&gt;</a>
    <% end %>

  <table class="stratego-board">
    <%= for row <- @rows do %>
      <tr class="stratego-board">
        <%= for column <- row do %>
          <td class="stratego-board">
            <%= case column do %>
              <% nil -> %>
                <svg class="stratego-board">
                  <rect width="50" height="50" style="fill:green;stroke:black;stroke-width:5;opacity:0.8" />
                </svg>
              <% :lake -> %>
                <svg class="stratego-board">
                  <rect width="50" height="50" style="fill:blue;stroke:black;stroke-width:5;opacity:0.8" />
                </svg>
              <% %{player: player_number, name: piece} -> %>
                <img class="stratego_board player_<%= player_number %>" src="<%= "/images/stratego-#{piece}-cropped.png" %>" />
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <table width="600" height="100" border="1">
  <tr class="stratego-board">
    <%= for {piece, rank} <- @pieces do %>
      <td class="stratego-board"><%= "#{piece} (#{rank})" %></td>
    <% end %>
  </tr>
  <tr class="stratego-board">
    <%= for {piece, _} <- @pieces do %>
      <td class="stratego-board"><img class="stratego_board" src="<%= "/images/stratego-#{piece}-cropped.png" %>" /></td>
    <% end %>
  </tr>
  </table>

  </div>
</section>
