<section>
  <!-- Side navigation -->
  <div class="sidenav">
    <p>Start new match</p>

    <div class="liveview-select2"
         phx-hook="SelectModules"
    >
    <%= for module_number <- 1..2 do %>
      <select id="<%= "module_#{module_number}" %>">
        <%= for {module, name} <- @modules do %>
          <option value="<%= module %>">
            <%= name %>
          </option>
        <% end %>
      </select>
      <br/>
    <% end %>
    <button>Go!</button>
    </div>

    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>

  <!-- Page content -->
  <div class="main">
  <h1>Stratego</h1>
  <hr/>
  <table class="stratego-board">
    <%= for row <- @rows do %>
      <tr class="stratego-board">
        <%= for column <- row do %>
          <td class="stratego-board">
            <%= case column do %>
              <%= nil -> %>
                <svg class="stratego-board">
                  <rect width="50" height="50" style="fill:green;stroke:black;stroke-width:5;opacity:0.8" />
                </svg>
              <%= :lake -> %>
                <svg class="stratego-board">
                  <rect width="50" height="50" style="fill:blue;stroke:black;stroke-width:5;opacity:0.8" />
                </svg>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  </div>
</section>
